In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("sample.csv")
dataset.head(3)

   Roll No.  Physics  Chemistry  Maths  Computer
0         1     56.0       57.0   58.0      59.0
1         2     23.0       24.0   25.0      26.0
2         3     89.0       25.0   26.0      27.0

In [5]:
input_data =dataset.iloc[:,:-1]
output_data = dataset["Computer"]

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
x_train ,x_test , y_train , y_test = train_test_split(input_data,output_data , test_size=0.25)

In [18]:
dataset.shape

(30, 5)

In [20]:
x_train.shape

(22, 4)

In [21]:
x_test.shape

(8, 4)