In [1]:
# appriori

In [2]:
import pandas as pd

In [3]:
dataset = pd.DataFrame([{'Transaction ID': 'T1', 'Items': 'Milk, Bread, Butter'},
    {'Transaction ID': 'T2', 'Items': 'Bread, Butter'},
    {'Transaction ID': 'T3', 'Items': 'Milk, Bread'},
    {'Transaction ID': 'T4', 'Items': 'Milk, Bread, Butter, Eggs'},
    {'Transaction ID': 'T5', 'Items': 'Bread, Butter, Eggs'},
    {'Transaction ID': 'T6', 'Items': 'Milk, Eggs'},
    {'Transaction ID': 'T7', 'Items': 'Bread, Butter, Eggs'},
    {'Transaction ID': 'T8', 'Items': 'Milk, Bread, Butter'},
    {'Transaction ID': 'T9', 'Items': 'Milk, Bread'},
    {'Transaction ID': 'T10', 'Items': 'Bread, Butter'}])

In [4]:
dataset.head(3)

  Transaction ID                Items
0             T1  Milk, Bread, Butter
1             T2        Bread, Butter
2             T3          Milk, Bread

In [35]:
dataset.shape

(10, 2)

In [6]:
transactions = dataset['Items'].apply(lambda x: x.split(', ')).tolist()

In [7]:
from mlxtend.preprocessing import TransactionEncoder

In [8]:

te = TransactionEncoder()

In [10]:
te_ary = te.fit_transform(transactions)

In [11]:
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

In [14]:
print("\nOne-Hot Encoded Data:")
df_encoded

One-Hot Encoded Data:

   Bread  Butter   Eggs   Milk
0   True    True  False   True
1   True    True  False  False
2   True   False  False   True
3   True    True   True   True
4   True    True   True  False
5  False   False   True   True
6   True    True   True  False
7   True    True  False   True
8   True   False  False   True
9   True    True  False  False

In [16]:
from mlxtend.frequent_patterns import apriori, association_rules

In [17]:
# Step 5: Apply Apriori algorithm
frequent_itemsets = apriori(df_encoded, min_support=0.3, use_colnames=True)

In [18]:
print("\nFrequent Itemsets:")
print(frequent_itemsets)

Frequent Itemsets:
    support               itemsets
0       0.9                (Bread)
1       0.7               (Butter)
2       0.4                 (Eggs)
3       0.6                 (Milk)
4       0.7        (Bread, Butter)
5       0.3          (Bread, Eggs)
6       0.5          (Bread, Milk)
7       0.3         (Eggs, Butter)
8       0.3         (Milk, Butter)
9       0.3  (Bread, Eggs, Butter)
10      0.3  (Bread, Milk, Butter)

In [19]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

In [20]:
print("\nAssociation Rules:")
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

Association Rules:
        antecedents      consequents  support  confidence      lift
0           (Bread)         (Butter)      0.7    0.777778  1.111111
1          (Butter)          (Bread)      0.7    1.000000  1.111111
2            (Eggs)         (Butter)      0.3    0.750000  1.071429
3          (Butter)           (Eggs)      0.3    0.428571  1.071429
4     (Bread, Eggs)         (Butter)      0.3    1.000000  1.428571
5   (Bread, Butter)           (Eggs)      0.3    0.428571  1.071429
6    (Eggs, Butter)          (Bread)      0.3    1.000000  1.111111
7           (Bread)   (Eggs, Butter)      0.3    0.333333  1.111111
8            (Eggs)  (Bread, Butter)      0.3    0.750000  1.071429
9          (Butter)    (Bread, Eggs)      0.3    0.428571  1.428571
10   (Milk, Butter)          (Bread)      0.3    1.000000  1.111111
11          (Bread)   (Milk, Butter)      0.3    0.333333  1.111111

In [27]:
product_counts = df_encoded.sum().sort_values(ascending=False)

In [28]:
print("ðŸ“¦ Product Sales Count:\n")
print(product_counts)

ðŸ“¦ Product Sales Count:

Bread     9
Butter    7
Milk      6
Eggs      4
dtype: int64