In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"name":["wscube","cow","cat","dog","black"]})

In [4]:
df

     name
0  wscube
1     cow
2     cat
3     dog
4   black

In [5]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()
df["en_name"] = le.fit_transform(df["name"])

In [9]:
df

     name  en_name
0  wscube        4
1     cow        2
2     cat        1
3     dog        3
4   black        0

In [15]:
dataset = pd.read_csv(r"C:\Users\Avishank Dwivedi\OneDrive\Desktop\Data.csv")
dataset.head(7)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No

In [19]:
dataset["Country"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [17]:
la = LabelEncoder()
la.fit(dataset["Country"])

LabelEncoder()

In [18]:
la.transform(dataset["Country"])

array([0, 2, 1, 2, 1, 0, 2, 0, 1, 0])