In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"size":["s","m","l","xl","s","m","l","s","s","l","xl","m"]})
df.head(3)

  size
0    s
1    m
2    l

In [3]:
ord_data = [["s","m","l","xl"]]

In [4]:
from sklearn.preprocessing import OrdinalEncoder

In [6]:
oe = OrdinalEncoder(categories=ord_data)
oe.fit(df[["size"]])

OrdinalEncoder(categories=[['s', 'm', 'l', 'xl']])

In [7]:
oe.transform(df[["size"]])

array([[0.],
       [1.],
       [2.],
       [3.],
       [0.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [3.],
       [1.]])

In [8]:
df["size_en"] = oe.transform(df[["size"]])

In [9]:
df

   size  size_en
0     s      0.0
1     m      1.0
2     l      2.0
3    xl      3.0
4     s      0.0
5     m      1.0
6     l      2.0
7     s      0.0
8     s      0.0
9     l      2.0
10   xl      3.0
11    m      1.0

In [14]:
ord_data1 = {"s":5,"m":6,"l":7,"xl":8}

In [15]:
df["size_en_map"]= df["size"].map(ord_data1)

In [16]:
df

   size  size_en  size_en_map
0     s      0.0            5
1     m      1.0            6
2     l      2.0            7
3    xl      3.0            8
4     s      0.0            5
5     m      1.0            6
6     l      2.0            7
7     s      0.0            5
8     s      0.0            5
9     l      2.0            7
10   xl      3.0            8
11    m      1.0            6

In [17]:
dataset = pd.read_csv(r"C:\Users\Avishank Dwivedi\OneDrive\Desktop\Data.csv")
dataset.head(5)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [19]:
dataset["Country"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [21]:
dataset["Country"].fillna(dataset["Country"].mode()[0],inplace=True)

In [22]:
en_data_ord = [['France' , 'Spain', 'Germany']]

In [23]:
oen = OrdinalEncoder(categories=en_data_ord)
oen.fit_transform(dataset[["Country"]])

array([[0.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [0.],
       [2.],
       [0.]])

In [24]:
dataset.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes