In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\Avishank Dwivedi\OneDrive\Desktop\Data.csv")
dataset.head(5)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
dataset.shape

(10, 4)

In [5]:
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [6]:
(dataset.isnull().sum()/dataset.shape[0])*100

Country       0.0
Age          10.0
Salary       10.0
Purchased     0.0
dtype: float64