In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("Position_Salaries.csv")

In [3]:
dataset.head(3)

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000

In [6]:
dataset.drop(columns=["Position"],inplace= True)