In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv("Groceries_dataset.csv")

In [5]:
dataset.head(3)

   Member_number        Date itemDescription
0           1808  21-07-2015  tropical fruit
1           2552  05-01-2015      whole milk
2           2300  19-09-2015       pip fruit

In [9]:
dataset.drop(column=["Member_number","dataset.head(3)"], inplace = True)

TypeError: DataFrame.drop() got an unexpected keyword argument 'column'